Contents/Resources/node-red/canvas.nrd
[{"id":"d4fd12f2.ff347","type":"tab","label":"Luce-Ombra","disabled":false,"info":"Qui i dati relativi ai valori di \"luce e ombra\" in cui e' posto il protoquadro."},{"id":"13fd7be8.cb7cb4","type":"mqtt in","z":"d4fd12f2.ff347","name":"","topic":"/","qos":"2","datatype":"auto","broker":"247a9ed9.4200fa","nl":false,"rap":true,"rh":0,"x":570,"y":240,"wires":[[]]},{"id":"a2330e70.b57b48","type":"debug","z":"d4fd12f2.ff347","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1250,"y":320,"wires":[]},{"id":"802c54b4.4581c8","type":"inject","z":"d4fd12f2.ff347","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"$now()","payloadType":"jsonata","x":150,"y":240,"wires":[["649f6e66.71bdd","58cc86be.4d74d8","56ecafe8.4bf2b8","7159313f.126cb"]]},{"id":"883859a2.8f601","type":"mqtt out","z":"d4fd12f2.ff347","name":"","topic":"/light","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"247a9ed9.4200fa","x":710,"y":280,"wires":[]},{"id":"649f6e66.71bdd","type":"time-range-switch","z":"d4fd12f2.ff347","name":"","lat":"","lon":"","startTime":"07:28","endTime":"goldenHour","startOffset":0,"endOffset":0,"x":610,"y":440,"wires":[[],[]]},{"id":"58cc86be.4d74d8","type":"http request","z":"d4fd12f2.ff347","name":"Maree-Venezia","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://dati.venezia.it/sites/default/files/dataset/opendata/livello.json","tls":"","persist":false,"proxy":"","authType":"","x":460,"y":100,"wires":[["bbf1ff24.c7c56"]]},{"id":"dba76aae.a5d18","type":"debug","z":"d4fd12f2.ff347","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1250,"y":420,"wires":[]},{"id":"bbf1ff24.c7c56","type":"bigsplitter","z":"d4fd12f2.ff347","name":"","property":"payload","x":760,"y":100,"wires":[["e424d0fc.526d58"],[]]},{"id":"56ecafe8.4bf2b8","type":"http request","z":"d4fd12f2.ff347","name":"Vento Venezia","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://dati.venezia.it/sites/default/files/dataset/opendata/vento.json","tls":"","persist":false,"proxy":"","authType":"","x":460,"y":140,"wires":[["2d9254f.2c7e5ac"]]},{"id":"2d9254f.2c7e5ac","type":"bigsplitter","z":"d4fd12f2.ff347","name":"","property":"payload","x":760,"y":160,"wires":[["81e66e50.616c9"],[]]},{"id":"4305c09b.464fb","type":"suncron","z":"d4fd12f2.ff347","name":"Sun ","lat":"452643.00","lon":"122010.00","replay":true,"ejectScheduleOnUpdate":false,"sunrisePayload":"alba","sunrisePayloadType":"str","sunriseTopic":"/light","sunriseOffsetType":1,"sunriseOffsetHours":0,"sunriseOffsetMinutes":0,"sunriseOffset":0,"sunriseEndPayload":"tempo dell'alba","sunriseEndPayloadType":"str","sunriseEndTopic":"/light","sunriseEndOffsetType":1,"sunriseEndOffsetHours":0,"sunriseEndOffsetMinutes":0,"sunriseEndOffset":0,"goldenHourEndPayload":"wake up","goldenHourEndPayloadType":"str","goldenHourEndTopic":"/light","goldenHourEndOffsetType":1,"goldenHourEndOffsetHours":0,"goldenHourEndOffsetMinutes":0,"goldenHourEndOffset":0,"solarNoonPayload":"Mezzogiorno","solarNoonPayloadType":"str","solarNoonTopic":"/light","solarNoonOffsetType":1,"solarNoonOffsetHours":0,"solarNoonOffsetMinutes":0,"solarNoonOffset":0,"goldenHourPayload":"golden hour","goldenHourPayloadType":"str","goldenHourTopic":"/light","goldenHourOffsetType":1,"goldenHourOffsetHours":0,"goldenHourOffsetMinutes":0,"goldenHourOffset":0,"sunsetStartPayload":"tramonto inizio","sunsetStartPayloadType":"str","sunsetStartTopic":"/light","sunsetStartOffsetType":1,"sunsetStartOffsetHours":0,"sunsetStartOffsetMinutes":0,"sunsetStartOffset":0,"sunsetPayload":"crepuscolo","sunsetPayloadType":"str","sunsetTopic":"/light","sunsetOffsetType":1,"sunsetOffsetHours":0,"sunsetOffsetMinutes":0,"sunsetOffset":0,"duskPayload":"crepuscolo nautico","duskPayloadType":"str","duskTopic":"/light","duskOffsetType":1,"duskOffsetHours":0,"duskOffsetMinutes":0,"duskOffset":0,"nauticalDuskPayload":"crepuscolo astronomico","nauticalDuskPayloadType":"str","nauticalDuskTopic":"/light","nauticalDuskOffsetType":1,"nauticalDuskOffsetHours":0,"nauticalDuskOffsetMinutes":0,"nauticalDuskOffset":0,"nightPayload":"notte ","nightPayloadType":"str","nightTopic":"/light","nightOffsetType":1,"nightOffsetHours":0,"nightOffsetMinutes":0,"nightOffset":0,"nadirPayload":"mezzanotte astronomica","nadirPayloadType":"str","nadirTopic":"/light","nadirOffsetType":1,"nadirOffsetHours":0,"nadirOffsetMinutes":0,"nadirOffset":0,"nightEndPayload":"crepuscolo astronomico","nightEndPayloadType":"str","nightEndTopic":"/light","nightEndOffsetType":1,"nightEndOffsetHours":0,"nightEndOffsetMinutes":0,"nightEndOffset":0,"nauticalDawnPayload":"crepuscolo nautico","nauticalDawnPayloadType":"str","nauticalDawnTopic":"/light","nauticalDawnOffsetType":1,"nauticalDawnOffsetHours":0,"nauticalDawnOffsetMinutes":0,"nauticalDawnOffset":0,"dawnPayload":"alba","dawnPayloadType":"str","dawnTopic":"/light","dawnOffsetType":1,"dawnOffsetHours":0,"dawnOffsetMinutes":0,"dawnOffset":0,"x":130,"y":420,"wires":[["7159313f.126cb","649f6e66.71bdd","883859a2.8f601"]]},{"id":"7159313f.126cb","type":"time-range-switch","z":"d4fd12f2.ff347","name":"","lat":"","lon":"","startTime":"07:28","endTime":"sunsetStart","startOffset":0,"endOffset":0,"x":610,"y":380,"wires":[[],[]]},{"id":"e424d0fc.526d58","type":"switch","z":"d4fd12f2.ff347","name":"","property":"payload.nome_abbr","propertyType":"msg","rules":[{"t":"eq","v":"Misericordia","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":970,"y":80,"wires":[["a4b7cead.074078"]]},{"id":"39d88d9d.4cc092","type":"debug","z":"d4fd12f2.ff347","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1240,"y":100,"wires":[]},{"id":"a4b7cead.074078","type":"switch","z":"d4fd12f2.ff347","name":"","property":"payload.valore","propertyType":"msg","rules":[{"t":"gte","v":"20","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":970,"y":120,"wires":[[]]},{"id":"81e66e50.616c9","type":"switch","z":"d4fd12f2.ff347","name":"","property":"payload.stazione","propertyType":"msg","rules":[{"t":"eq","v":"San Giorgio Isola","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":970,"y":180,"wires":[[]]},{"id":"b9767796.d44e58","type":"debug","z":"d4fd12f2.ff347","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1250,"y":160,"wires":[]},{"id":"247a9ed9.4200fa","type":"mqtt-broker","name":"agape","broker":"localhost","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""}]